<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <modifyHyperlink>
        <processor type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.GenerateLink.CheckHttpLink, Sitecore.Support.348219"
                   patch:after="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.SkipAnchorLinks, Sitecore.EmailCampaign']" />

      </modifyHyperlink>
    </pipelines>
  </sitecore>
</configuration>